hw5.dtd

<!-- DTD for Product Inventory System -->
<!-- File: hw5.dtd -->

<!-- Entity Declaration for "Made in USA" phrase -->
<!ENTITY MadeInUSA "Made in USA">

<!-- Root Element: Products must contain at least one Prod element -->
<!ELEMENT Products (Prod+)>

<!-- Product Element with required ProdID attribute -->
<!ELEMENT Prod (Details, Quantity, Unit_Price, Color?, Loc)>
<!ATTLIST Prod 
    ProdID ID #REQUIRED
>

<!-- Details Element: contains product information -->
<!ELEMENT Details (Short_Desc, Long_Desc)>

<!-- Short Description Element -->
<!ELEMENT Short_Desc (#PCDATA)>

<!-- Long Description Element -->
<!ELEMENT Long_Desc (#PCDATA)>

<!-- Quantity Element: number of items in stock -->
<!ELEMENT Quantity (#PCDATA)>

<!-- Unit Price Element: price per item -->
<!ELEMENT Unit_Price (#PCDATA)>

<!-- Color Element: optional product color attribute -->
<!ELEMENT Color (#PCDATA)>

<!-- Location/Origin Element: must contain "Made in USA" -->
<!ELEMENT Loc (#PCDATA)>
